*{
    box-sizing: border-box;
}
.body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100vh;
    margin: 40%;
}
.container{
    box-shadow: 0px 6px 10px rgb(201, 27, 27);
    padding-top: 0;
    padding: 25px;
    width: 500px;
    max-width: 100%;
    border-radius: 5px;
    align-items: center;
    margin-left: 30%;
    
}
.box-top{
    height: 100px;
    background-color: #3A69D2;
    padding-left: 30px;
}
.box{
    background-color: #1F2937;
    padding: 30px;
    padding-left: 15px;
}
.remove-btn{
    background-color: transparent;
    border: none;
    color: #D5D4D8;
}
.cost-btn{
    height: 36px;
    border-radius: 6px;
    border: 1px solid white;
    background-color: #D5D4D8;
    margin-right: 25px;
    margin-bottom: 10px;
    color: #4A4E74;
}
.send-btn{
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    width: 300px;
    margin-left: 50px;
    background-color: #0755fd;
    border: none;
    border-radius: 4px;
    height: 25px;
    margin-top: 30px;
    color: #FFFFFF;
}
.table-box1{
    color: #F5F5F5;
}
.table-box2{
    color: #D5D4D8;
}
.box3{
    color: #F5F5F5;
}
.box5{
    color: white;
}
.box .table-head{
    margin-right: 0px;
    margin-bottom: 30px;
}
.table-box1{
    border-collapse: collapse;
    font-size: 1em;
    width: 480px;
}
.table-box1 thead tr{
    text-align: left;
}
.table-box1 thead th{
    color: #D5D4D8;
}
.table-box1 tbody td{
    font-weight: bold;
}
.table-box2{
    border-collapse: collapse;
    font-size: 1em;
    width: 440px;
}
.table-box2 thead tr{
    text-align: left;
}
.table-box2 thead th{
    color: #D5D4D8;
}
.table-box2 tbody td{
    font-weight: bold;
}
.table-box2 tbody td #result-ans{
    font-weight: bold;
    height: 0;
    font-weight: 40px;
}
.box6{
    color: white;
}